@import './base.scss';
@import './toast.scss';
@import './spinner.scss';

* {
    touch-action: manipulation;
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: green;
}

a:hover {
    color: var(--color-text);
}

.router-link-exact-active {
    color: var(--color-text);
}

pre {
    font: inherit;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    font-weight: normal;
}

body {
    background-image: url(./background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--primaryV);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: black;
    z-index: 1;
    gap: 0.5rem;

    img {
        height: 2rem;
        width: auto;
        cursor: pointer;
    }

    nav {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
}

button {
    background-color: var(--primary);
    opacity: 100%;
    box-shadow: var(--box-shadow-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    padding-right: 3.5px;
    cursor: pointer;
    gap: 2.5px;
    padding: 0.25rem 0.5rem;
    transition: all 0.5s ease;
}

button:hover {
    opacity: 70%;
}

button:disabled {
    border: 2px solid var(--primary);
    background-color: black;
    box-shadow: none;
}

button:disabled:hover {
    box-shadow: none;
    opacity: 100%;
    cursor: not-allowed;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.salePrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .price {
        font-size: large;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

span {
    font-size: small;
    color: var(--error);
}

input:focus, select:focus {
    border-bottom: 3px solid rgba(var(--primaryC), 1);
}

.inputError, .inputError:focus {
    border-color: var(--error);
}

input, select {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(var(--primaryC), 0.4);
    border-radius: 2.5px;
    padding: 0.65rem 1rem;
    transition: all 0.3s ease;
}

input[type=number] {
    appearance: textfield;
}

.bg-glass-tinted {
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(25px);
}

.bg-glass::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 15px;
    backdrop-filter: blur(25px) opacity(1);
    background-color: rgba($color: white, $alpha: 0.1);
}

.bg-glass {
    position: relative;
    border-radius: 15px;
}

.bg-glass-rounded::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 15px;
    backdrop-filter: blur(25px) opacity(1);
    background-color: rgba($color: white, $alpha: 0.05);
}

.bg-glass-rounded {
    position: relative;
    padding: 1rem;
    border-radius: 15px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    
    button {
        font-size: 15px;
        display: flex;
        gap: 0.5rem;
        height: 3rem;
    }
}

.card {
    height: 100%;
    font-size: 16px;

    .card-button {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        height: 2rem;
        width: 100%;
    }

    //Backdrop-filter contrains the div children's position. 
    //This fixes the constraining issue when using a position fixed.
    .card-slot::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.08);
        position: absolute;
        backdrop-filter: blur(25px) opacity(1);
        z-index: -1;
    }

    .card-slot {
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: var(--box-shadow-1);
        gap: 1rem; 
        border-radius: 15px; 
        padding: 2rem;
    }
}

.address-action, .order-action {
    transition: all 0.3s ease;
    cursor: pointer;
}

.address-action:hover, .order-action:hover {
    opacity: 70%;
}

.delete:hover {
    color: var(--error);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid;
}

// Some common div settings that I always use
.flex-r {
    display: flex;
    flex-direction: row;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

.jc-e {
    justify-content: flex-end;
}

.ai-s {
    align-items: start;
}

.ai-c {
    align-items: center;
}

.ai-e {
    align-items: end;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

@media (hover: hover) {}

@media (min-width: 1024px) and (min-height: 788px) {
    .card {
        height: 82vh;
    }
    header {
        padding: 0.5rem 2rem;
    }
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    visibility: hidden;
    opacity: 0;
    transform: translateX(30px);
}

@media (min-width: 3840px) and (min-height: 2160px) {
    main {
        max-width: 3048px;
    }
}